.resultado{
    padding-top: 71px;
    max-width: 1000px;
    margin: 0 auto;
}
.pan{
	font-size: 14px;
	color: $gris-claro;
	padding-bottom: 16px;
}
.header-desc{
	font-size: 28px;
	margin: 0 0 32px 32px;
}


#respuesta-meli{
  background-color: $blanco;
  border-radius: 4px;
  justify-content: baseline;
  padding-bottom: 32px;

}