.resultado{
    padding-top: 71px;
    max-width: 1000px;
    margin: 0 auto;

}
#respuesta-meli{
  background-color: $blanco;
  border-radius: 4px;
  justify-content: baseline;

}

.product {
  display: flex;
  height: 200px;
  border-bottom: 2px solid $base;
  padding: 16px 0 16px 0;
  margin-bottom:16px;


  figure{
    img{
      height: 180px;
      width: 180px;
      border-radius: 4px;
      margin-left: 16px;
      padding-bottom: 16px;
    }
  }
  .info{
    width: 800px;
    padding-left: 16px;
    h4{
      padding-bottom: 32px;
      font-size: 24px;
      font-weight: normal;
    }
    .title{
      font-size: 18px;
      text-decoration: none;
      color: $gris-oscuro;
    }
  }
  .city{
  width: 200px;
    p{
      margin-top: -46px;
      font-size: 12px;
    }
  }
}
