@media screen and (max-width: 1050px) {
  .resultado{
  	max-width: 700px;
  }
  .nav{
  	div{
  	max-width: 700px;
  	}
  }

}// fin media
@media screen and (max-width: 750px) {
  .resultado{
  	max-width: 600px;
  }
  .nav{
  	div{
  	max-width: 600px;
  	}
  }
}// fin media

@media screen and (max-width: 620px) {
  .resultado{
  	max-width: 500px;
  }
  .nav{
  	div{
  	max-width: 500px;
  	}
  }
}

@media screen and (max-width: 520px) {
  .resultado{
  	max-width: 500px;
  }
  .nav{
  	div{
  	max-width: 500px;
  	}
  }
}