<nav>
		<div class="nav">
			<div>
				<div class="otro">
					<a class="logo" href="#" alt="Logo Mercado Libre ">Mercado Libre Argentina</a>
					<form class="search" action="/items">
						<input class="input-search" type="text" aria-label="Ingrese aquí lo que desea buscar" placeholder="Nunca dejes de buscar" name="search" autocomplete="off" spellcheck="off">
						<button class="search-btn" role="button" aria-label="Buscar" type="submit"><i class="fa fa-search icon-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
</nav><!-- fin nav-->